@{
    Layout = "_AdminLayout";
}





<head>
    <title>Admin Dashboard</title>
    
</head>
<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <a asp-controller="Home" asp-action="Index">Dashboard</a>
        <a asp-controller="Reservation" asp-action="ReserveList">Reservations</a>
        <a asp-controller="Home" asp-action="ProductList">Product Inventory</a>
        <!-- not yet implemented below -->
        <a href="#">Products</a>
        <a href="#">Settings</a>
        <!-- link to log out -->
        <a class="logout text-warning" asp-area="" asp-controller="Home" asp-action="Index">Log out</a>


    </div>

    <!-- Main content -->
    <div class="content">
        @RenderBody()

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; @DateTime.Now.Year
            </div>
        </footer>
    </div>

</body>









