@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container padding-64 red grayscale xlarge" id="about">
    <div class="content">
        <h1 class="center jumbo" style="margin-bottom:64px">About</h1>
        <p>We at the KPI, founded this place with </p>
        <img src="/img/p.jpg" style="width:100%" class="w3-margin-top w3-margin-bottom" alt="pizza moment" />
    </div>
</div>
