@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<div class="container padding-64 red grayscale xlarge" id="about">
    <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white" style="background-image: url('https://amblerpizza.com/wp-content/uploads/2021/02/rebeccabarger187.jpg');" height: 100vh>
        <h1 class="center jumbo" style="margin-bottom:64px">How we came about</h1>
        <p2>
            The KPIzza was founded in Philadelphia by Ithan, when he mentioned he wanted some good pizza, but was unable to get any, as all the pizza places around here sucked.
            So, in his infinite wisdom, he involved the two of us, Kevin and Peter, and together, we set out on our quest to create the best pizza one can ever taste.
        </p2>
    </div>
</div>
<br />
<br />

<table class="table table-borderless table-hover table-primary">
    <thead class="table-dark">
        <tr>
            <th scope="col">Hours</th>
            <th scope="col">Time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Monday</th>
            <th scope="row">10 AM to 4:00 PM</th>
        </tr>
        <tr>
            <th scope="row">Tuesday</th>
            <th scope="row">9:30 AM to 5:00 PM</th>
        </tr>
        <tr>
            <th scope="row">Wednesday</th>
            <th scope="row">9:30 AM to 5:00 PM</th>
        </tr>
        <tr>
            <th scope="row">Thursday</th>
            <th scope="row">9:30 AM to 5:00 PM</th>
        </tr>
        <tr>
            <th scope="row">Friday</th>
            <th scope="row">10 AM to 4:00 PM</th>
        </tr>
        <tr>
            <th scope="row">Saturday</th>
            <th scope="row">11:00 AM to 11:00 PM</th>
        </tr>
        <tr>
            <th scope="row">Sunday</th>
            <th scope="row">11 AM to 10:00 PM</th>
        </tr>
    </tbody>
</table>
</div>
