@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to KPI Pizza.</h1>
    <h2 class="display-4">Home to the best Pizza ever!</h2>
    <br />
    <p>KPI Pizza offers thick and crispy squares to savor</p>
</div>
