@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to KPIzza.</h1>
    <h2 class="display-4">Home to the best Pizza ever!</h2>
    <br />
    <img src="https://www.shutterstock.com/shutterstock/photos/102673046/display_1500/stock-photo--chef-preparing-pizza-102673046.jpg" />
    <p>KPI Pizza offers thick and crispy squares to savor, giving you the option to mix and match from the pizza of your choosing—or 
        get a mega chunk of whatever you’re currently craving. The all-time favorite is the signature Pineapple Pizza. <br />
        <img src="https://ychef.files.bbci.co.uk/976x549/p0ctz0wr.jpg" height="500" alt="pineapple pizza"> <br />
        Only the Owner of KPI, Ithan, can create the magnificent Pineapple Pizza, to make all other pizza taste like dirt. <br />
        So come on over today, to KPIzza, where you can get the food of a lifetime!
    </p>
    
</div>
