@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:white" data-aos="fade-right">Welcome to KPIzza.</h1>
    <h2 class="display-4" style="color:white" data-aos="fade-right">Home to the best Pizza ever!</h2>
    <br />
    <img class="img-fluid rounded w-100" src="~/images/gigabenito.png" class="center" data-aos="fade-up" />
</div>
