body {
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

h1 {
    margin-top: 0;
    color: white;
}

label {
    display: inline-block;
    width: 10em;
    padding-right: 1em;
}

div {
    margin-bottom: .5em;
}

nav {
    background-color: #e3f2fd;
}