@model Food
@{
    string title = ViewBag.Action + " Menu";
    ViewBag.Title = title;
}

<h1>@ViewBag.Title</h1>

<form asp-action="Update" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name">Food Name:</label>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Price">Price:</label>
        <input asp-for="Price" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Description">Description:</label>
        <input asp-for="Description" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="ImageId">Image</label>
        <select asp-for="ImageId" class="form-control">
            <option value=""> select a genre</option>
            @foreach (Image g in ViewBag.Images)
            {
                <option value="@g.ImageId">
                    @g.ImageName
                </option>
            }
        </select>
    </div>




    <input type="hidden" asp-for="FoodId" />

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-action="MenuList" class="btn btn-primary">Cancel</a>
</form>