@{
    Layout = "_MainLayout";
    ViewBag.Title = "Admin";
    // create culture variable
    var culture = System.Globalization.CultureInfo.CreateSpecificCulture("en-US");
}



<h1>Welcome to the Admin Dashboard</h1>
<p>Welcome to the admin dashboard! This is your central hub for managing and monitoring
    your website or application. From here, you can view important metrics,
    manage user accounts, create and edit content, configure settings, and much more.
    The dashboard is designed to give you an easy-to-use interface for accessing all of the
    tools and information you need to keep your site running smoothly. Whether you're a developer,
    marketer, or business owner, the admin dashboard is your go-to resource for managing your online presence.</p>


