@{
    Layout = "_MainLayout";
    ViewBag.Title = "Admin";
    // create culture variable
    var culture = System.Globalization.CultureInfo.CreateSpecificCulture("en-US");
}



<div class="row">
    <div class="col-sm-4">
        <div class="btn-group-vertical  col-12 mr-2">
            <a asp-controller="Category" asp-action="Index"
               class="btn text-dark btn-outline-primary">Manage categories</a>
            <a asp-controller="Product" asp-action="Index"
               class="btn text-dark btn-outline-primary">Manage products</a>
        </div>
    </div>
</div>

