@{
    Layout = "_MainLayout";
    ViewBag.Title = "Admin";
    // create culture variable
    var culture = System.Globalization.CultureInfo.CreateSpecificCulture("en-US");
}



<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <h1 class="text-left display-4">Welcome to the Admin Dashboard</h1>
            <p class="text-left lead">
                Welcome to the admin dashboard! This is your central hub for managing and monitoring
                your website or application. From here, you can view important metrics,
                manage user accounts, create and edit content, configure settings, and much more.
                The dashboard is designed to give you an easy-to-use interface for accessing all of the
                tools and information you need to keep your site running smoothly. Whether you're a developer,
                marketer, or business owner, the admin dashboard is your go-to resource for managing your online presence.
            </p>
        </div>
    </div>
    <input type="button" id="btn" value="Jump" style="margin:auto; width:50%; border: 5px red"/>
    <img src="~/images/gigabenito.png" id="img" style="position:absolute; width:120px; left:50px;" />
</div>

<script type="text/javascript">
    let t = 0;
    let delta = 10;

    let pageWidth = parseInt(window.innerWidth);

    let timer;

    document.getElementById("btn").addEventListener("click", Start);

    function Start() {
        if (document.getElementById("btn").value == "Jump") {
            timer = setInterval("count()", 20);
            document.getElementById("btn").value = "No jump";
        } else {
            document.getElementById("btn").value = "Jump";
            clearInterval(timer);
        }
    }
    function count() {
        t++;
        let unit = parseInt(document.getElementById("img").style.left);
        unit += delta;
        document.getElementById("img").style.left = unit + "px";
        if (unit > pageWidth) {
            delta = -10;
        } else if (unit < -(pageWidth)) {
            delta = 10;
        }
        let mytop = 300 - 100 * Math.abs(Math.cos(0.1 * t));
        document.getElementById("img").style.top = mytop + "px";
    }

</script>