@{
    Layout = "_MainLayout";
    ViewBag.Title = "Product List";
}



<h1>Product Inventory</h1>
<iframe width="700" 
    height="400" 
    frameborder="0" 
    scrolling="no" 
    src="https://onedrive.live.com/embed?resid=4C2C4CD9B6C26DE3%211153&authkey=%21AA789Dqhc7jz6t0&em=2&AllowTyping=True&Item=pizzatable&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True&wdInConfigurator=True&edesNext=false&resen=false&ed1JS=false"></iframe>


