@model List<Food>
@{
    Layout = "_MainLayout";
    ViewBag.Title = "Menu List";
    // create culture variable
    var culture = System.Globalization.CultureInfo.CreateSpecificCulture("en-US");
}

<div class="row">
    <div class="col-sm-10">

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Food Name</th>
                    <th>Price</th>

                    <th></th>

            </thead>
            <tbody>
                @foreach (var food in Model)
                {
                    <tr>
                        <td>@food.Name</td>
                        <td>@food.Price?.ToString("C2", culture)</td>

                        <td>
                            <a asp-action="Update"
                           asp-route-id="@food.FoodId"
                           class="btn btn-primary">Edit</a>


                            <a asp-action="Delete"
                           asp-route-id="@food.FoodId"
                           class="btn btn-danger">Delete</a>

                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
